<header>
    <img src="../../sources/images/logo.png" alt="" class="wow fadeInUp" ui-sref="landingPage">
</header>
<section id="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="wrapperlogin">
                
                <form class="col-12 row" ng-submit="vm.inicarSesion(vm.usuario)">
                    <div class="col-md-12">
                        <input type="text" name="user" placeholder="Correo Electronico" ng-model="vm.usuario.correo" required oninvalid="this.setCustomValidity('Por favor ingrese su correo electrónico')"
                        oninput="setCustomValidity('')">
                    </div>
                    <div class="col-md-12">
                        <input type="password" name="pass" placeholder="Contraseña" ng-model="vm.usuario.contrasenna" required oninvalid="this.setCustomValidity('Por Favor Ingrese una contraseña')"
                        oninput="setCustomValidity('')">
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btnlogin">Iniciar sesión</button>
                    </div>
                    <div class="col-md-12">
                        <p class="message">¿No tiene cuenta?
                            <a ui-sref="registrarCliente"><strong>Crear cuenta</strong></a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>