<div ng-include="'./components/includes/_header.html'"></div>
<div class="row">
    <div class="container">
   
        <div class="col-md-12 text-center">
            <p>Somos una empresa dedicada a la satisfacción de nuestros clientes. Travel Rate, almacena la información de cientos de Hoteles con sus respectivos datos y ubicación para que todos nuestros clientes puedan realizar sus reservaciones y consultas en nuestra plataforma.</p>
            <p>Nuestra información de contacto es:</p>
            <p>Correo: echavarriac@ucenfotec.ac.cr</p>
            <p>Teléfono 8931-7987: </p>
        </div>
 
    </div>
   
</div>
