<div id="bodybg">
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="">
                    <img src="../../sources/images/logo.png" alt="" class="wow fadeInUp col-md-6">
                    <div class="home-thumb">
                        <h1 class="wow fadeInUp" data-wow-delay="0.4s">Bienvenidos a Travel Rate</h1>
                        <h3 class="wow fadeInUp" data-wow-delay="0.6s">Nosotros
                            <strong>le ayudamos</strong> y ustedes
                            <strong>nos ayudan</strong> a encontrar los mejores hoteles del país</h3>
                        <a ui-sref="logIn" class="btn btn-lg btn-default smoothScroll wow fadeInUp" data-wow-delay="0.8s">Ingresar</a>
                        <a ui-sref="registrarCliente" data-toggle="modal" data-target="#modal1" class="btn btn-lg btn-success smoothScroll wow fadeInUp" data-wow-delay="1.0s">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section id="about">
        <div class="container">
            <div class="row">
    
          <div class="col-md-6 col-sm-12">
            <img src="images/about-img.png" class="img-responsive wow fadeInUp" alt="About">
          </div>
    
                <div class="col-md-6 col-sm-12">
                    <div class="about-thumb">
                        <div class="section-title">
                            <h1 class="wow fadeIn" data-wow-delay="0.2s">¿Cómo Funciona?</h1>
                            <h3 class="wow fadeInUp" data-wow-delay="0.4s">Travel Rate llena sus estadísticas gracias a ustedes</h3>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.6s">
                            <p>Junto a nuestro sistema de ubicación y logística para reservas y visitas más su valoración basada en sus experiencias en el hotel, Travel Rate le brinda la información más actualizada de todos los hoteles del país.</p>

                            <p>Gracias a nuestro algoritmo de valoración, no solo podemos medir cuan satisfechos están nuestros clientes con sus visitas, sino que, podemos recomendarle hoteles de acuerdo a experiencias positivas y retroalimentación recibida.</p>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
</div>



