<header class="">
  <img src="../../sources/images/logo.png" alt="" class="wow fadeInUp" ui-sref="main">

</header>

<nav class="">
  <div class="container teal borderYtoX">
    <button class="float-right d-lg-none" a ui-sref="logIn" ng-click="vm.cerrarSesion()">
      <i class="fas fa-sign-out-alt"></i>
      </a>
    </button>
    <div class="justify-content-center">
      <a ng-show='vm.rol == 2'>Registrar Hotel</a>
      <a ng-show='vm.rol == 2 || 1'>Lista de Hoteles</a>
      <a ng-show='vm.rol == 2'>Registar un Cliente</a>
      <a ng-show='vm.rol == 1'>Sobre la Compañía</a>
    </div>
    <button class="float-right btn d-none d-lg-block" a ui-sref="logIn" ng-click="vm.cerrarSesion()">Cerrar Session</a>
    </button>

  </div>
</nav>
<div id="test">
  <img src="../../sources/images/prueba.gif" alt="">
</div>