<div ng-include="'./components/includes/_header.html'"></div>

<section id="dash" class="text-center container">
    <h3>Bienvenido {{vm.usuarioActivo}} ¿Que desea hacer hoy?</h3>

    <div class="row">
        <div class="col-md-4">
            asdasdasdasdasdsa
        </div>
        <div class="col-md-4 borderbox">
            Hoteles Cercanos
            <ng-map id="map" center='current-position' libraries="places" geo-callback="vm.initMap()" class="map-responsive"></ng-map>
        </div>
        <div class="col-md-4">
    asdadasdasdasdas
        </div>    
    </div>

</section>
