body {
    background: transparent url('../../sources/images/background.png');
    position: static;
    background-size: cover;
    background-repeat: no-repeat;
}

header img{
    cursor: pointer;
}

//login incio
#login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
          align-items: center;
    text-align: center;
    height: 80vh;
    color: #ffffff;
  }
  
  #login .home-thumb {
    text-align: center;
  }
  
  #login .btn {
      background: transparent;
      border: 3px solid #ffffff;
      border-radius: 0px;
      color: #ffffff;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 14px 36px;
      margin-top: 42px;
      margin-right: 16px;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      cursor: pointer;
  }
  
  #login .btn:hover {
    background: #dc4a00;
    color: #ffffff;
    border-color: transparent;
  }
  
  #login .btn-success {
      background: #ffffff;
      color: #242424;
      border-color: transparent;
  }

.wrapperlogin{
    background:rgba(0,0,0,0.2);
    border: 1 solid #dc4a00;;
    border-style: dashed;
    padding: 50px 15px;
    max-width: 600px;
}

.wrapperlogin p {
    color: #6c2400;
    padding-top: 5px;
}

.wrapperlogin a {
 cursor: pointer;
}

.wrapperlogin input {
    width: 80%;
   }

.btnlogin {
    background: transparent;
    border: 3px solid #fff;
    border-radius: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 14px 36px;
    margin-top: 42px;
    transition: all .4s ease-in-out;
}

.btnlogin:hover {
    background: #dc4a00;
    color: #ffffff;
    border-color: transparent;
}

.wrapperlogin input{
    text-align:center;
    background: transparent;
    border: 1px solid #dc4a00;
    border-radius: 4px;
    color: #6c2400;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 14px 12px;
    margin-top: 42px;
    margin-right: 0px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}

//login fin

//registro cliente inicio
#registro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
height: 80vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
          align-items: center;
    text-align: center;
    height: auto;
    color: #ffffff;

  }

  #registro .btn {
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 14px 36px;
    margin-top: 30px;
    margin-right: 16px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    
}

#registro .btn:hover {
background: #dc4a00;
}

.wrapperregistro{
    background:rgba(0,0,0,0.2);
    border: 1 solid #dc4a00;;
    border-style: dashed;
    padding: 45px 15px 45px 15px;
    width: 90%;
    position: flex;
    margin-top: 80px;

}

.wrapperregistro p {
    color: #6c2400;
    padding-top: 15px;
}

.texts h3 {
    color: black;
}

.wrapperregistro a {
 cursor: pointer;
}

.wrapperregistro label {
    color: white;
   }

.wrapperregistro input{
    text-align:center;
    background: transparent;
    border: 1px solid #dc4a00;
    border-radius: 4px;
    color: #6c2400;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 14px 12px;
  margin-bottom: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}
