body {
    background: transparent url('../../sources/images/background.png');
    position: static;
    background-size: cover;
    background-repeat: no-repeat;
}

header img{
    cursor: pointer;
}

//login incio
#login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
          align-items: center;
    text-align: center;
    height: 80vh;
    color: #ffffff;
  }
  
  #login .home-thumb {
    text-align: center;
  }
  
  #login .btn {
      background: transparent;
      border: 3px solid #ffffff;
      border-radius: 0px;
      color: #ffffff;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 14px 36px;
      margin-top: 42px;
      margin-right: 16px;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      cursor: pointer;
  }
  
  #login .btn:hover {
    background: #dc4a00;
    color: #ffffff;
    border-color: transparent;
  }
  
  #login .btn-success {
      background: #ffffff;
      color: #242424;
      border-color: transparent;
  }

.wrapperlogin{
    background:rgba(0,0,0,0.2);
    border: 1 solid #dc4a00;;
    border-style: dashed;
    padding: 50px 15px;
    max-width: 600px;
}

.wrapperlogin p {
    color: #6c2400;
    padding-top: 5px;
}

.wrapperlogin a {
 cursor: pointer;
}

.wrapperlogin input {
    width: 80%;
   }

.btnlogin {
    background: transparent;
    border: 3px solid #fff;
    border-radius: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 14px 36px;
    margin-top: 42px;
    transition: all .4s ease-in-out;
}

.btnlogin:hover {
    background: #dc4a00;
    color: #ffffff;
    border-color: transparent;
}

.wrapperlogin input{
    text-align:center;
    background: transparent;
    border: 1px solid #dc4a00;
    border-radius: 4px;
    color: #6c2400;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 14px 12px;
    margin-top: 42px;
    margin-right: 0px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}

//login fin

//registro cliente inicio
#registro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
height: 80vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
          align-items: center;
    text-align: center;
    height: auto;
    color: #ffffff;

  }

  #registro .btn {
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 14px 36px;
    margin-top: 30px;
    margin-right: 16px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    
}

#registro .btn:hover {
background: #dc4a00;
}

.wrapperregistro{
    background:rgba(0,0,0,0.2);
    border: 1 solid #dc4a00;;
    border-style: dashed;
    padding: 45px 15px 45px 15px;
    width: 90%;
    position: flex;
    margin-top: 80px;

}

.wrapperregistro p {
    color: #6c2400;
    padding-top: 15px;
}


.texts h3 {
    color: black;
}

.wrapperregistro a {
 cursor: pointer;
}

.wrapperregistro label {
    color: white;
   }

.wrapperregistro input{
    text-align:center;
    background: transparent;
    border: 1px solid #dc4a00;
    border-radius: 4px;
    color: #6c2400;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 14px 12px;
  margin-bottom: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}

#dash{
    height: 100vh;
        h3,h2,h1 {
            color: black;
        }
.cardwrapper {
    height: 250px;
    width: 300px;
    margin: 0 auto;
    border: 2px solid;
}

    #map {
        // height: 350px;
        // width: 350px;
        margin: 10px;

        .map-responsive{
            overflow:hidden;
            padding-bottom:56.25%;
            position:relative;
            height:0;
        }
        .map-responsive iframe{
            left:0;
            top:0;
            height:100%;
            width:100%;
            position:absolute;
        }
        
      }
}

// Registro Hotel

#registrohotel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
          align-items: center;
    text-align: center;
    color: black;
        
  }
  
  #registrohotel .home-thumb {
    text-align: center;
  }

  
  
  #registrohotel .btn {
      background: transparent;
      border: 3px solid black;
      border-radius: 0px;
      color: white;
      background:  #dc4a00;
      font-weight: 700;
      letter-spacing: 1px;
        width: 100%;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      margin-top: 25px;
      padding: 15px;
  }
  
  #registrohotel .btn:hover {
    background: white;
    color: #dc4a00;
    border-color: transparent;
  }
  
  #registrohotel .btn-success {
      background: white;
      color: #242424;
      border-color: transparent;
  }

  #mapreg {
    .map-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
  }

  .wrapperregistrohotel{
    background:rgba(255,255,255,0.8);
    padding-bottom: 25px;
    margin-bottom: 25px;
    width: 100%;
    position: flex;

}


.card {

}
.card-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.card-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


.wrapper{
  padding: 2px 0 5px 0;
  border: 1px solid dashed;
    width: 200px;
    height: 100%;
    background: white;
    margin: auto;
    position: relative;
    display: inline-flex;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
    &:hover{
      transform: scale(1);
      box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
    }
    h4 {
      font-size: 16px;
    }
    i{
      cursor: pointer;
    }
    
    .container{
      width:100%;
      height:100%;
      .top{
        height: 80%;
        width:100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
      }
      .bottom{
        width: 160px;
        height: 40%;
        transition: transform 0.5s;
        &.clicked{
          transform: translateX(-50%);
        }
        h1{
            margin:0;
            padding:0;
            font-size: 18px;
        }
        p{
            margin:0;
            padding:0;
        }

      }
    }
    
    .inside{
      z-index:9;
    border: 1px solid #dc4a00;
    background: #dc4a00;
      width:140px;
      height:140px;
      position: absolute;
      top: -70px;
      right: -70px;
      border-radius: 0px 0px 200px 200px;
      transition: all 0.5s, border-radius 2s, top 1s;
      overflow: hidden;
      .icon{
        position:absolute;
        right:85px;
        top:85px;
        color:white;
        opacity: 1;
      }
      &:hover{
        width:100%;
        right:0;
        top:0;
        border-radius: 0;
        height:100%;
        .icon{
          opacity: 0;
          right:15px;
          top:15px;
        }
        .contents{
          opacity: 1;
          transform: scale(1);
          transform: translateY(0);
        }
      }
      .contents{
        padding: 5%;
        opacity: 0;
        transform: scale(0.5);
        transform: translateY(-200%);
        transition: opacity 0.2s, transform 0.8s;
        table{
          text-align:left;
          width:100%;
        }
        h1, p, table{
          color: white;
        }
        p{
          font-size:13px;
        }
      }
    }
  }

  #listaHoteles {
    .btn {
      background: #dc4a00;
      border: 1px solid black;
      border-radius: 0px;
      color: #ffffff;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 4px 36px;
      margin: 10px auto;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      display: block;
      
    }

    p{
      margin: 0;
    }

     .btn:hover {
      background: #dc4a00;
      color: #ffffff;
      border-color: transparent;
    }
    
  }

  //editar

  #editar .btn {
    background: transparent;
    border: 3px solid black;
    border-radius: 0px;
    color: white;
    background:  #dc4a00;
    font-weight: 700;
    letter-spacing: 1px;
      width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    margin-top: 25px;
    padding: 15px;
    
}

#editar .btn:hover {
  background: white;
  color: #dc4a00;
  border-color: transparent;
}

.wrapperregistro{
    background:rgba(0,0,0,0.2);
    border: 1 solid #dc4a00;;
    border-style: dashed;
    padding: 45px 15px 45px 15px;
    width: 90%;
    position: flex;
    margin-top: 80px;

}

.wrapperregistro p {
    color: #6c2400;
    padding-top: 15px;
}

.texts h3 {
    color: black;
}

.wrapperregistro a {
 cursor: pointer;
}

.wrapperregistro label {
    color: white;
   }

.wrapperregistro input{
    text-align:center;
    background: transparent;
    border: 1px solid #dc4a00;
    border-radius: 4px;
    color: #6c2400;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 14px 12px;
  margin-bottom: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}

#mapedit {
  .map-responsive{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
  }
  .map-responsive iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
  }
}


.table thead th {
    background:rgba(133,255,52,.5);
    color:black
}

.table {
    overflow: scroll;
} 

.search {
    width: 250px;
    padding: 5px 0;
    margin: 10px 0;
    text-align: left;
    border: none;
}

#listausuarios {
    input {
        border: none;
        outline: 0;
        border-bottom: 2px solid #dc4a00;
    }

    .btn {
        color: #fff;
        background: #dc4a00;
        bottom: 80px;
    }
}

#editar h1,h2,h3{
    color: black;
}

.my-custom-stars .button .font-awesome-icons {
    font-size: 50px; 
  }
  
  .my-custom-stars .star-button.star-on .font-awesome-icons {
    color: #003399; 
  }
  
  .my-custom-stars .star-button.star-off .font-awesome-icons {
    color: #99ccff; 
  }

#listaHoteles {
     
    .scale {

    }

    .scale:hover {
        color: #dc4a00;
    }
}