/*

Comila Template

http://www.templatemo.com/tm-490-comila

*/

html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

h1,h2,h3 {
  font-weight: 500;
  letter-spacing: 0.3rem;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

h2 {
  color: #ffffff;
  padding-bottom: 10px;
}

h3 {
  font-size: 1rem;
  line-height: 2rem;
}

p {
  color: #828282;
  letter-spacing: 0.8px;
  line-height: 28px;
}

strong {
  color: #dc4a00;
  font-weight: 700;
}

#about,
#feature,
#contact {
  background: #ffffff;
}

#about,
#feature,
#contact,
footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  padding-bottom: 62px;
}
.section-title h1 {
  padding-bottom: 10px;
}
#about .section-title {
  padding-bottom: 22px;
}
#contact .section-title {
  text-align: center;
}


/* preloader section  */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}



#slideshow {
  top: 0;
  left: 0;
  z-index: -10;
  width: 100vw;
  backface-visibility: hidden;
}


/* home section */
#home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
        align-items: center;
  text-align: center;
  height: 100vh;
  color: #ffffff;
}

#home .home-thumb {
  text-align: center;
}

#home .btn {
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 14px 36px;
    margin-top: 42px;
    margin-right: 16px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

#home .btn:hover {
  background: #dc4a00;
  color: #ffffff;
  border-color: transparent;
}

#home .btn-success {
    background: #ffffff;
    color: #242424;
    border-color: transparent;
}


/* about section */
#about h3 {
    margin-top: 0px;
}

#about .about-thumb {
  padding-top: 10px;
}


#slideLanding{
    
    height: 100%;
}

/* Mobile Responsive */
@media (max-width: 980px) {

  h1 {
    font-size: 2.4rem;
  }

  #home {
    height: 65vh;
  }

  #about .section-title {
    padding-bottom: 12px;
  }


}


@media (max-width: 768px) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

}


@media (max-width: 700px) {

  #home {height: 100vh;}

}
