main {
  padding: 90px 0 0 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
  
  
}

main:after {
content : "";
position: fixed;
top: 0;
left: 0;
background-image: url('../../sources/images/logo.png'); 
width: 100%;
height: 1200px;
opacity : 0.2;
z-index: -1;
overflow: hidden;
background-repeat: no-repeat;
background-size: contain;


}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}
.hrCliente{
  border-top: 1px solid #77b828;
}

.wrapper {
  max-width: 900px;
  background-color: transparent;
  margin: 20px auto;
  overflow: hidden;
  padding: 25px;
  color: #4c4e56;
}

.wrapperop {
  background: rgba(84, 99, 117, 0.2);
  border: 1 solid white;
  border-style: dashed;
  padding: 10px;
  
}
